
* {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	background-image: url('http://androidwallpape.rs/content/02-wallpapers/101-newyork/NY-1920x1200.png');
	background-size: cover;
	background-attachment: fixed;
}

section#main {
	width: 40%;
	margin: 2em auto;
	padding: 2% 5%;
	background-color: #ecf0f1;
}

section#main {
	
}

section#main h1 {
	color: #2c3e50;
	font-size: 5em;
	font-weight: 300;
}

section#main #start-game {
	border: none;
	outline: none;
	box-shadow: none;
	padding: 1em 1.5em;
	font-size: 1.5em;
	font-weight: 300;
	color: #ecf0f1;
	background-color: #2980b9;
	cursor: pointer;
}

section#main #start-game:hover {
	background-color: #3498db;
}
