
* {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-image: url('http://androidwallpape.rs/content/02-wallpapers/101-newyork/NY-1920x1200.png');
	background-size: cover;
	background-attachment: fixed;
}

section#main {
	width: 65%;
	margin: 2em auto;
	padding: 5%;
	background-color: #ecf0f1;
}

button#start-game {
	border: none;
	outline: none;
	box-shadow: none;
	padding: 1em 1.5em;
	font-size: 1em;
	font-weight: 300;
	color: #ecf0f1;
	background-color: #2980b9;
	cursor: pointer;
}

button#start-game:hover {
	background-color: #3498db;
}
